html {
	font-size: 62.5%;
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}
.container {
	width: 36rem;
	margin: 0 auto;
	border: 2px solid grey;
}
.completed {
	color: gray;
	text-decoration: line-through;
}
.fadeIn {
	opacity: 1;
	transition: opacity 0.3s ease-in-out;
	-webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-ms-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
}
.fadeOut {
	opacity: 0;
}
